@import "../../styles/1.scss";

/* Use the variables */
.outer-div {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: 18px;
}

.inner-div {
    background-color: $textcolor;
    color: $bgcolor;
    font-size: 18px;
  }